<%= form_for @scheduled_flight do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :flight_id %><br />
    <%= f.number_field :flight_id %>
  </p>
  <p>
    <%= f.label :depature_date %><br />
    <%= f.datetime_select :depature_date %>
  </p>
  <p>
    <%= f.label :arrival_date %><br />
    <%= f.datetime_select :arrival_date %>
  </p>
  <p>
    <%= f.label :available_seats %><br />
    <%= f.number_field :available_seats %>
  </p>
  <p>
    <%= f.label :closed_flight %><br />
    <%= f.check_box :closed_flight %>
  </p>
  <p><%= f.submit %></p>
<% end %>
