<%= form_for @flight_ticket do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :traveler_id %><br />
    <%= f.number_field :traveler_id %>
  </p>
  <p>
    <%= f.label :scheduled_flight_id %><br />
    <%= f.number_field :scheduled_flight_id %>
  </p>
  <p>
    <%= f.label :seat_number %><br />
    <%= f.text_area :seat_number %>
  </p>
  <p>
    <%= f.label :luggage_type_id %><br />
    <%= f.number_field :luggage_type_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
