<% title "Flight Ticket" %>

<p>
  <strong>Traveler:</strong>
  <%= @flight_ticket.traveler_id %>
</p>
<p>
  <strong>Scheduled Flight:</strong>
  <%= @flight_ticket.scheduled_flight_id %>
</p>
<p>
  <strong>Seat Number:</strong>
  <%= @flight_ticket.seat_number %>
</p>
<p>
  <strong>Luggage Type:</strong>
  <%= @flight_ticket.luggage_type_id %>
</p>

<p>
  <%= link_to "Edit", edit_flight_ticket_path(@flight_ticket) %> |
  <%= link_to "Destroy", @flight_ticket, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", flight_tickets_path %>
</p>
