<%= form_for @airplane do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :code %><br />
    <%= f.text_area :code %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </p>
  <p>
    <%= f.label :seats %><br />
    <%= f.number_field :seats %>
  </p>
  <p><%= f.submit %></p>
<% end %>
