<%= form_for @fligth do |f| %>
  <%= f.error_messages %>
  <p>
    <div class="reg_section personal_info">
    <%= f.label :codigo_de_ruta %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :aeropuerto_origen %><br />
    <%= f.select :origin_airport_id, options_for_select(Airport.get_all_airports) %>
  </p>
  <p>
    <%= f.label :aeropuerto_destino %><br />
    <%= f.select :destination_airport_id, options_for_select(Airport.get_all_airports) %>
  </p>
  <p>
    <%= f.label :aeronave %><br />
    <%= f.select :airplane_id, options_for_select(Airplane.get_all_airplanes) %>
  </p>
  <p><%= f.submit %></p>
<% end %>
