<%= form_for @fligth do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :code %><br />
    <%= f.text_area :code %>
  </p>
  <p>
    <%= f.label :date_time %><br />
    <%= f.datetime_select :date_time %>
  </p>
  <p>
    <%= f.label :origin_airport_id %><br />
    <%= f.number_field :origin_airport_id %>
  </p>
  <p>
    <%= f.label :destination_airport_id %><br />
    <%= f.number_field :destination_airport_id %>
  </p>
  <p>
    <%= f.label :airplane_id %><br />
    <%= f.number_field :airplane_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
