<% title "Fligths" %>

<table>
  <tr>
    <th>Aeropuerto Origen</th>
    <th>Aeropuerto Destino</th>
    <th>Aeronave</th>
  </tr>
  <% for fligth in @fligths %>
    <tr>
      <td><%= fligth.origin_airport.name %></td>
      <td><%= fligth.destination_airport.name %></td>
      <td><%= fligth.airplane.name %></td>
      <td><%= link_to "Show", fligth %></td>
      <td><%= link_to "Edit", edit_fligth_path(fligth) %></td>
      <td><%= link_to "Destroy", fligth, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Fligth", new_fligth_path %></p>
