<% title "Fligths" %>

<table>
  <tr>
    <th>Code</th>
    <th>Date Time</th>
    <th>Origin Airport</th>
    <th>Destination Airport</th>
    <th>Airplane</th>
  </tr>
  <% for fligth in @fligths %>
    <tr>
      <td><%= fligth.code %></td>
      <td><%= fligth.date_time %></td>
      <td><%= fligth.origin_airport_id %></td>
      <td><%= fligth.destination_airport_id %></td>
      <td><%= fligth.airplane_id %></td>
      <td><%= link_to "Show", fligth %></td>
      <td><%= link_to "Edit", edit_fligth_path(fligth) %></td>
      <td><%= link_to "Destroy", fligth, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Fligth", new_fligth_path %></p>
