<% title "Fligth" %>
<p>
  <strong>Aeropuerto Origen:</strong>
  <%= @fligth.origin_airport.name %>
</p>
<p>
  <strong>Aeropuerto Destino:</strong>
  <%= @fligth.destination_airport.name %>
</p>
<p>
  <strong>Aeronave:</strong>
  <%= @fligth.airplane.name %>
</p>

<p>
  <%= link_to "Edit", edit_fligth_path(@fligth) %> |
  <%= link_to "Destroy", @fligth, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", fligths_path %>
</p>
